.buttonContainer{
    display: flex;
}

.itemButton{
    padding: 5px 10px;
    height: 2rem;
    margin-right: 15px;
}

.itemButton:last-child{
    margin-right: 0px;
}

.itemButton:hover{
    cursor: pointer;
    transform: scale(1.3);
    background-color: coral;
}

.activeButton{
    transform: scale(1.3);
    padding: 5px 10px;
    height: 2rem;
    margin-right: 15px;
    background-color: coral;
}

.activeButton:last-child{
    margin-right: 0px;
}